.jumbotron {
  background-image: url("http://i.imgur.com/mxkLVJV.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 200px;
  margin-bottom: 0;
}
.bar {
  background-color: #000000;
  height: 50px;
  margin-top: 0;
  text-align: center;
}
.bar > h2 {
  font-family: 'textileregular';
  color: #FFFFFF;
  margin: 0 auto;
  line-height: normal;
  line-height: 1.75;
}
.container {
  font-family: 'Montserrat', 'sans-serif';
  text-align: center;
  padding-top: 10px;
}
#number {
  font-size: 18px;
}
#quoteshere{
  font-size: 20px;
  overflow-y: auto;
  height: 200px;
  padding: 5px;
  text-align: left;
}
input {
  width: 50px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .4);
}
.greyscale {
  background-image: url("http://i.imgur.com/x0tFHJD.jpg?1");
  height: 400px;
  background-position: 0 500px 0 0;
  background-size: cover;
}
#ipsum {
  background: rgba(255, 255, 255, .6);
  border-radius: 10px;
}
a {
  font-size: 30px;
  color: black;
}
a:hover {
  text-decoration: none;
  color: #4B4B4B;
}

@font-face {
font-family: 'textileregular';
src: url('Textile.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
