.jumbotron {
  background-image: url("http://i.imgur.com/mxkLVJV.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 200px;
  margin-bottom: 0;
}
.bar {
  background-color: #000000;
  height: 50px;
  margin-top: 0;
  text-align: center;
}
.bar > h2 {
  font-family: 'Lobster';
  color: #FFFFFF;
  margin: 0 auto;
  line-height: normal;
}
.container {
  font-family: 'Cabin', 'sans-serif';
}
#number {
  font-size: 18px;
}
#quoteshere{
  font-size: 20px;
}
input {
  width: 50px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #FFFF00;
}
